html{
    background-color: rgb(252, 253, 235);
}


h1 {
    color: rgb(95, 1, 1);
}

h2{
    color:rgb(70, 8, 46)
}


h4{
    color: rgb(105, 19, 19)
}

p {
    color: rgb(0, 0, 0)
}

h4 {
    border-style: inset;
    border-width: thick;
    border-color: rgb(0, 0, 0);
}

body{
    font-size: 20px;
}
 
